

img {
    width: 200px;
    height: 200px;
    float: center;
    
}
.sidebar {
    width: 30%;
    float: righ;
    background-color: yellow;

}
.column {
    width: 300px;
    float: left;

}
p {
    color: blue;
    float: center;
    text-align: center;
}
h2 {
    color: blue;
    float: middle;
    text-align: center;
}
ul {
   color: blue;
    float: center;
}
ol {
    float: center;
    color: rgb(179, 0, 255);
}
h5 {
    color: brown;
    float: center;
    text-align: justify;
}

